.displayBox{
    border: 1px solid black; 
    padding: 0px !important;
    margin-top: 5%;
}

#header{ 
    border-bottom: 1px solid black;
    height: 50px ;
    display: flex ;
    justify-content : center ;
    align-items:center;
}