.displayBox{
    border: 1px solid black; 
    padding: 0px !important;
    margin-top: 5%;
    max-width:40%;
    /* max-height: 30%;
    height: 200px; */
}

.cardBox{
    height: 500px;
    overflow: scroll; 
    max-height: 500px; 
    /* position: relative; */
    /* height: 100vh; */
    background:grey;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#header{ 
    border-bottom: 1px solid black;
    height: 50px ;
    display: flex ;
    justify-content : space-around ;
    align-items:center;
}

/* .animate {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    animation: zoomInFade 4s linear 1s infinite forwards;
  }

  @keyframes zoomInFade {
    0% {
      opacity: 0;
      top: 100%;
      visibility: hidden;
    }  
    50% {
      opacity: 1;
      top: 50%;
      visibility: visible;
    }
    75% {
      top: 25%;
    }
    100% {
      top: 0;
      visibility: hidden;
    }
  }  */
